<div class="app-container" [class.is-mobile]="mobileQuery.matches">

  <mat-toolbar class="toolbar">
    <!-- <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon aria-hidden="false" aria-label="menu icon">home</mat-icon>
    </button> -->
    <h1 class="app-name">Game Site</h1>
  </mat-toolbar>

  <!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink="checkers">Checkers</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container> -->
  <router-outlet></router-outlet>
</div>
